<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#quxian_35x35_</string>
		<key>tallyCellName</key>
		<string>工资</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#shipin_35x35_</string>
		<key>tallyCellName</key>
		<string>饰品</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#baobao_35x35_</string>
		<key>tallyCellName</key>
		<string>包包</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#baojian_35x35_</string>
		<key>tallyCellName</key>
		<string>保健</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#baoxian_35x35_</string>
		<key>tallyCellName</key>
		<string>保险</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#chashuikafei_35x35_</string>
		<key>tallyCellName</key>
		<string>茶水咖啡</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#chuanpiao_35x35_</string>
		<key>tallyCellName</key>
		<string>船票</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#dapai_35x35_</string>
		<key>tallyCellName</key>
		<string>打牌</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#dianfei_35x35_</string>
		<key>tallyCellName</key>
		<string>电费</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#dianying_35x35_</string>
		<key>tallyCellName</key>
		<string>电影</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#fangdai_35x35_</string>
		<key>tallyCellName</key>
		<string>房贷</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#fangzu_35x35_</string>
		<key>tallyCellName</key>
		<string>房租</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#fanka_35x35_</string>
		<key>tallyCellName</key>
		<string>饭卡</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#feijipiao_35x35_</string>
		<key>tallyCellName</key>
		<string>飞机票</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#fuwu_35x35_</string>
		<key>tallyCellName</key>
		<string>服务</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#gonggongqiche_35x35_</string>
		<key>tallyCellName</key>
		<string>公共汽车</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#haiwaidaigou_35x35_</string>
		<key>tallyCellName</key>
		<string>海外代购</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#huazhuangpin_35x35_</string>
		<key>tallyCellName</key>
		<string>化妆品</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#huochepiao_35x35_</string>
		<key>tallyCellName</key>
		<string>火车票</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#jiushui_35x35_</string>
		<key>tallyCellName</key>
		<string>酒水</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#kuzi_35x35_</string>
		<key>tallyCellName</key>
		<string>裤子</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#lifa_35x35_</string>
		<key>tallyCellName</key>
		<string>理发</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#lingshi_35x35_</string>
		<key>tallyCellName</key>
		<string>零食</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#lvyoudujia_35x35_</string>
		<key>tallyCellName</key>
		<string>旅游度假</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#maicai_35x35_</string>
		<key>tallyCellName</key>
		<string>买菜</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#majiang_35x35_</string>
		<key>tallyCellName</key>
		<string>麻将</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#naifen_35x35_</string>
		<key>tallyCellName</key>
		<string>奶粉</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#richangyongpin_35x35_</string>
		<key>tallyCellName</key>
		<string>日常用品</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#shuifei_35x35_</string>
		<key>tallyCellName</key>
		<string>水费</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#tingchefei_35x35_</string>
		<key>tallyCellName</key>
		<string>停车费</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#shumachanpin_35x35_</string>
		<key>tallyCellName</key>
		<string>数码产品</string>
	</dict>
	<dict>
		<key>tallyCellImage</key>
		<string>新增记一笔#richangyongpin_35x35_</string>
		<key>tallyCellName</key>
		<string>日常用品</string>
	</dict>
</array>
</plist>
